html
{
    background: #2E2E2E;
    height:100%;
    padding-bottom:0px;
    margin:0px;
}
body
{
    position: relative;
    margin-left: 10%;
    margin-right:10%;
    background-color: rgb(192, 187, 187);
    padding-bottom: 20%;
    min-height: 100%;
}

#title{
    color:rgb(22, 22, 22);
    letter-spacing: 2px;
    font-size:42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding : 15px;
}
h1
{
   
}
h2
{
    padding : 15px;
}
h3
{
    padding : 15px;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    list-style: none;
    margin:30px;
    padding-top:30px;
    padding-bottom: 30px;
    overflow: hidden;
    border-bottom: 1px solid white;
}
li{
    float: right;
    border-right: 1px solid white;
    padding-right:5px;
    padding-left: 5px;
}
li a{
    display: block;
    color: rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 15pt;
    padding: 15px 17px;
    text-decoration: none;
}
li a:hover{
    opacity: 0.7;
}
input
{
    padding:5px;
    border-radius: 0.5px;
    border-color: rgb(168, 166, 166);
}
label
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
input[type="text"]{
    width:30%;
    padding: 5px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 12px;
}

textarea{
    width:40%;
    height: 240px;
    font-size:14px;
    border-radius: 0.5px;
    border-color: rgb(168, 166, 166);
    line-height: 20px;
    outline:none;
    font-weight: 200;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right: 20px;
    
}

button[type="submit"]
{  
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:15px;
    border-radius: 4px;
    background-color: rgb(53, 52, 52);
    color:white;
}

#footer
{
background-color: rgb(102, 102, 102);
position: absolute;
bottom:0;
width:100%;
height:150px;
clear:both;
}

#copyright
{
    background-color: #2E2E2E;
    position: absolute;
    line-height: 30%;
    left:0px;
    bottom:0px;
    right:0px;
    text-align: center;
    color:white;
    height:30px;
    clear:both;
}

.fa{
    display: inline-block;
    cursor: pointer;
    padding:12px;
    box-shadow: 0 2px 2px #999;
    margin:10px;
    text-decoration: none;
    position: relative;
    top: 50px;
    left: 750px;
    border-radius: 50%;
    
}
#contact_info{
    margin-left:35px;
}
#contact_form{
    margin-top: 15px;
    margin-left:35px;

}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    background: #2E2E2E;
    color:white;
}
.fa-instagram{
    background: #2E2E2E;
    color:white;
    position: relative;
}
.fa-youtube{
    background: #2E2E2E;
    color:white;
    position: relative;
}
.fa-twitter{
    background: #2E2E2E;
    color:white;
    position: relative;
}